body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

p, h1, button {
    margin: 0;
    padding: 0;
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

#showPic {
}
